h1 {
  text-align: center;
  padding: 20px;
}

.grid-container {
  border: 2px solid black;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* justify-content: space-around; */
  /* justify-items: center; */
  gap: 100px;
}

.day-container {
  display: flex;
  flex-direction: column;
}

.task-container {
  display: flex;
  flex-direction: row;
}

.task {
  border: 1px solid yellowgreen;
  border-radius: 20px;
}

.new-task-container {
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%);
}

.new-task-button {
}

.weather {
  border: 1px solid aqua;
}
